<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    This is the windengine application! (DEZSYS_GK72_WINDPARK) <br/><br/>
    <a th:href="@{'http://localhost:' + ${@environment.getProperty('server.port')} + '/windengine/ ' + ${@environment.getProperty('windengine.id')} + '/data_xml'}">Link to windengine/001/data_xml</a><br/>
    <a th:href="@{'http://localhost:' + ${@environment.getProperty('server.port')} + '/windengine/ ' + ${@environment.getProperty('windengine.id')} + '/data_xml'}">Link to windengine/001/data_json</a><br/>
    <a th:href="@{'http://localhost:' + ${@environment.getProperty('server.port')} + '/windengine/ ' + ${@environment.getProperty('windengine.id')} + '/data_xml'}">Link to windengine/001/transfer</a><br/>
    <a href='/consumer'>Link to Consumer</a><br/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>